<c-row>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <strong>Tarefas Pendentes</strong>
            </c-card-header>
            <c-card-body>
                <form cForm>
                    <c-row class="d-flex justify-content-end mb-3">
                        <c-col class="d-flex justify-content-end">
                            <button cButton color="primary" variant="outline" [cModalToggle]="modalXl.id">
                                Cadastrar
                            </button>
                        </c-col>
                    </c-row>
                    <c-row>
                        @for (item of colors; track $index) {
                        <c-col [lg]="4">
                            <c-card [cBorder]="item.color" [textColor]="item.textColor" class="mb-3">
                                <c-card-header>Title</c-card-header>
                                <c-card-body>
                                    <h5 cCardTitle>Descrição Breve</h5>
                                    <p cCardText>
                                        Descrição detalhada.
                                    </p>
                                    <button [color]="item.color" cButton>Go somewhere</button>
                                </c-card-body>
                            </c-card>
                        </c-col>
                        }
                    </c-row>
                </form>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>


<c-modal #modalXl id="modalXl" size="xl">
    <c-modal-header>
        <h5 cModalTitle>Cadastrar tarefa</h5>
    </c-modal-header>
    <c-modal-body>
        <form cForm>
            <div class="mb-3">
                <label cLabel for="title">Título</label>
                <input cFormControl id="title" name="title" [(ngModel)]="tarefa.titulo" placeholder="Nome da tarefa" type="text" />
            </div>
            <div class="mb-3">
                <label cLabel for="title">Descrição Breve</label>
                <input cFormControl id="title" name="title" [(ngModel)]="tarefa.descBreve" placeholder="Nome da tarefa" type="text" />
            </div>
            <div class="mb-3">
                <label cLabel for="descricaoLonga">Descrição Longa</label>
                <textarea cFormControl id="descricaoLonga" name="descricaoLonga" [(ngModel)]="tarefa.descDetalhada" rows="3"></textarea>
            </div>
        </form>
    </c-modal-body>

    <c-modal-header>
    </c-modal-header>

    <c-row class="d-flex justify-content-end mb-3 m-3">
        <c-col class="d-flex justify-content-end ">
            <button cButton color="primary" variant="outline" (click)="create()">
                Salvar
            </button>
            <button cButton color="secundary" variant="outline" [cModalToggle]="modalXl.id">
                Fechar
            </button>
        </c-col>
    </c-row>

</c-modal>